/MaestusHospital/.vs/MaestusHospital/FileContentIndex


# Build artifacts
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Visual Studio Code
.vscode/

# User-specific files
*.userosscache
*.sln.docstates

# Backup & temporary files
*.tmp
*.bak
*.swp

# Logs
*.log

# Entity Framework
*.ide

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/
/MaestusHospital/MaestusHospital/Migrations/20240808020153_InitialCreate.cs
/MaestusHospital/MaestusHospital/Migrations/20240808020153_InitialCreate.Designer.cs
